{% extends 'base.html' %}


{% block content %}

    <form action="">

        <label for="Marca"> Marca:</label>
        <input type="text" name="Marca" id="Marca">

        <label for="Modelo"> Modelo:</label>
        <input type="text" name="Modelo" id="Modelo">

        <label for="Cor"> Cor:</label>
        <input type="text" name="Cor" id="Cor">

        <label for="Combustivel"> Combustivel:</label>
        <input type="text" name="Combustivel" id="Combustivel">

        <label for="Ano"> Ano:</label>
        <input type="number" name="Ano" id="Ano">

        <button type="submit"> Salvar </button>
    </form>


{% endblock %}